main {
    display: flex;
    flex-direction: column;
    background-color: rgb(218, 202, 184);
    align-items: center;
    justify-content: center;
    border: 3px black solid;
    min-width: 100vh;
    height: 100vh;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    min-width: 50%;
    height: 80%;
    border: 3px rgba(66, 1, 1, 0.938) solid;
    background-color: rgb(56, 2, 2);
    padding: 0.5%;
  }
  .Card{
    width: 100%;
    height: 100%;
    font-size: 64pt;
    text-align: center;
    padding: 15% 0% 0% 0%;;
    background-color: rgb(214, 214, 214);
    box-shadow: 4px 4px rgb(255, 255, 255);
    border-radius: 20px;
  }
  .Teste{
    padding: 0px;
    margin: 0px;
    background-color: pink;
  }
  header{
    border: 5px solid black;
    border-radius: 5px;
    box-shadow: 1px 6px rgb(41, 41, 41);
    background-color: tomato;
    margin: 0 0 20px 0;
  }